.header {
  max-width: 1125px;
  max-height: 150px;
  height: 150px;
  margin: auto;
}
.content,
.category__detail__content,
.product__detail__content,
.cart__content {
  max-width: 1125px;
  margin: auto;
  margin-bottom: 100px;
}
.category__detail__container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.product__detail__container {
  display: flex;
  margin-top: 100px;
  gap: 30px;
}
